html,body {
  background: #C0392B url(/splash-iphone4.png);
}

.demo-panel-title {
  margin: 0;
  padding: 0;
}

h3.demo-panel-title  {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
}

h1.demo-panel-title {
  font-size: 20px;
  text-align: center;
}

  h1.demo-panel-title a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

.btn-toolbar .btn {
  padding: 10px 35px 9px;
}

.intro p {
  font-size: 20px;
  line-height: 30px;
}

.login-form .login-field {
  width: 95%;
}

.tooltip-arrow {
  border-bottom-color:
#34495e;
border-width: 0 9px 9px;
margin-left: -9px;
top: -1px;

}