/* functions */
#have-an-account {
   -webkit-transition:left 5s ease;  // here the animation is set on 5 seconds
   -moz-transition:left 5s ease;  // adjust to whatever value you want
   -o-transition:left 5s ease;
   transition:left 5s ease;
}


html,body {
  background: #C0392B url(/splash-iphone4.png);
}

.demo-panel-title {
  margin: 0;
  padding: 0;
}

h3.demo-panel-title  {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
}

h1.demo-panel-title {
  font-size: 20px;
  text-align: center;
}

  h1.demo-panel-title a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

.btn-toolbar .btn {
  padding: 10px 35px 9px;
  width: 1px;
  background: #1DBC9C;
}

  .btn-toolbar .btn:active, .btn-toolbar .btn:hover{
    background: #16A085;
  }

.btn-group {
  width: 100%;
}

.intro p {
  font-size: 20px;
  line-height: 30px;
}

.login-form .login-field {
  width: 95%;
}

.tooltip-arrow {
  border-bottom-color:
#34495e;
border-width: 0 9px 9px;
margin-left: -9px;
top: -1px;

}