
      <div class="todo mrm">
        <ul>
          <% @ribbits.each do |ribbit| %>
            <li>
              <div class="todo-icon"><i class="fui-time-16"></i></div>
              <div class="todo-content">
                <h4 class="todo-name">
                  <%= ribbit.content %>
                </h4>
                <%= ribbit.user.username %> / <%= (ribbit.created_at).strftime("%b%d") %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>