<li class="todo-done">
  <div class="todo-icon"><%= (ribbit.created_at).strftime("%b%d") %></div>
  <div class="todo-content">
    <h4 class="todo-name">
      <%= ribbit.content %>
    </h4>
    <%= (ribbit.created_at).strftime("%b%d") %>
  </div>
</li>