<% if current_user %>
  <div class="row">
    <%= form_for @ribbit do |f| %>
      <div class="span12">
        <%= f.text_field :content, class: 'span12', :placeholder => "What do you want to remember about today?" %>
      </div>
      <div class="span8">
<!-- share stuff
        <div class="share mrl">
          <ul>
            <li>
              <label class="share-label" for="share-toggle5">Publicly</label>
              <div class="toggle">
                <label class="toggle-radio" for="share-toggle5">ON</label>
                <input type="radio" name="share-toggles3" id="share-toggle5" value="toggle5" checked="checked">
                <label class="toggle-radio" for="share-toggle6">OFF</label>
                <input type="radio" name="share-toggles3" id="share-toggle6" value="toggle6">
              </div>
            </li>
            <li>
              <label class="share-label" for="share-toggle2">Facebook</label>
              <div class="toggle">
                <label class="toggle-radio" for="share-toggle2">ON</label>
                <input type="radio" name="share-toggles" id="share-toggle2" value="toggle1">
                <label class="toggle-radio" for="share-toggle1">OFF</label>
                <input type="radio" name="share-toggles" id="share-toggle1" value="toggle2" checked="checked">
              </div>
            </li>
            <li>
              <label class="share-label" for="share-toggle4">Twitter</label>
              <div class="toggle">
                <label class="toggle-radio" for="share-toggle4">ON</label>
                <input type="radio" name="share-toggles2" id="share-toggle4" value="toggle1" checked="checked">
                <label class="toggle-radio" for="share-toggle3">OFF</label>
                <input type="radio" name="share-toggles2" id="share-toggle3" value="toggle2">
              </div>
            </li>
          </ul>
        </div>
    -->
      </div>

      <div class="span4">
        <%= f.submit "Memorize", :class => "btn btn-large btn-block btn-primary" %>
      </div>

    <% end %>

      </div><!-- /row -->
<% end %>
