<li class="todo-done">
  <div class="todo-icon"><%= time_ago_in_words(ribbit.created_at) %></div>
  <div class="todo-content">
    <h4 class="todo-name">
      <%= ribbit.content %>
    </h4>
    <%= time_ago_in_words(ribbit.created_at) %>
  </div>
</li>